<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BenchSAT Command Center</title>
    <script src="assets/js/libraries/d3.v7.min.js"></script>
    <script src="assets/js/libraries/papaparse.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>


  <body>
    {% include header.html %}

    {{ content }}


  </body>
</html>